@import '../../App.scss';

.home{
    position: sticky;
    top: 70px;
    height: calc(100vh - 71px - 40px);
    overflow: scroll;
    padding:20px 70px;
    background-color: rgb(239, 238, 238);

    &::-webkit-scrollbar{
        display: none;
    }
    
    @include mobile {
        height: calc(100vh - 71px - 20px);
        padding: 10px;
    }
    
    @include tablet {
        padding: 20px;
    }
}
.home-dark{
    background-color: #3e4147;
}